
{% extends 'base.html' %}
{% load static %} 

{% block title %}About James Parker{% endblock %}






{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Video Listing Website</title>
</head>
<body>
	<h1>Video Listing Website</h1>

	<ul>
		<li>
			<h2>Video Title 1</h2>
			<video width="320" height="240" controls>
  				<source src="video1.mp4" type="video/mp4">
  				Your browser does not support the video tag.
			</video>
			<p>Description of Video 1</p>
		</li>
		<li>
			<h2>Video Title 2</h2>
			<video width="320" height="240" controls>
  				<source src="video2.mp4" type="video/mp4">
  				Your browser does not support the video tag.
			</video>
			<p>Description of Video 2</p>
		</li>
		<li>
			<h2>Video Title 3</h2>
			<video width="320" height="240" controls>
  				<source src="video3.mp4" type="video/mp4">
  				Your browser does not support the video tag.
			</video>
			<p>Description of Video 3</p>
		</li>
	</ul>
</body>
</html>



{% endblock %}