
{% extends 'base.html' %}
{% load static %} 

{% block title %}About James Parker{% endblock %}




{% block content %}



<link href="{% static 'styles.css' %}" rel="stylesheet">
<center><h1 class=h3txt>Videos</h1></center>


{{ my_stuff }}
<div class="videomenu">
	<h1>Practace at Sound House 2022</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Qu3VoeM1laM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<div class=paper>
	<br></br>
	<center><h4 >Just messing around</h4></center>
	<center><p class=handwrighting>twinkle riffs and flowery drums at sound house mate. playing guitar and drums and hanging out with our emotions</p></center>	
</div>
</div>
<br></br>




<div class="videomenu">
	<h1>Recluse Club Live</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/2sGxZPVdrTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<div class=paper>
	<br></br>
	<center><h4>Live set at hmm I dno</h4></center>
	<center><p class=handwrighting>Emotional punk rock with our old band with Simon. Adam also played bass for this band and sings, man he dose so many things</p></center>	
</div>
</div>





{% endblock %}